body {
    background-image: url("images/background.png");
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url("images/banner.png");
    justify-content: center;
    align-items: center;
    display: flex;
}

.movie-title {
    font-family: 'Tahoma', Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24pt;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

.overall-content-area {
    display: flex;
    justify-content: space-between;
    gap: 2%;

    width: 800px;

    border: 4px;
    border-radius: 20px;
    border-style: solid;
    border-color: grey;
    margin: 0 auto;
}




.general-overview {
    order: 3;
    width: 250px;
    background-color: #A2B964;
}

.content-section {
    width: fit-content;
    padding-left: 5px;
}

.overall-content-area-review-header {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;

    font-weight: bold;
    color: red;
    font-size: 48pt;
    background-image: url("images/rbg.png");
}

.overall-content-area-review-header img {
    height: 83px;
    width: auto;
}

.comment-section-1 {
    width: 47%;
}

.comment-section-2 {
    width: 47%;
}





