body {
    background-image: url("images/background.png");
    font-family: 'Verdana', Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url("images/banner.png");
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px
}

.movie-title {
    font-family: 'Tahoma', Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24pt;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

.overall-content-area {
    display: flex;

    width: 800px;

    border: 4px;
    border-radius: 20px;
    border-style: solid;
    border-color: grey;
    margin: 0 auto;
}

.general-overview {
    order: 3;
    width: 250px;
    background-color: #A2B964;
}

.general-overview dt {
    font-weight: bold;
}

.general-overview dl {
    padding-left: 5px;
}

.content-section {
    height: 50%;
    order: 2;
}

.overall-content-area-review-header {
    width: 550px;
    height: 83px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-image: url("images/rbg.png");
    margin-bottom: 5px;
}

.overall-content-area-review-header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 550px;
    height: 83px;

    font-weight: bold;
    color: red;
    font-size: 48pt;
    margin: 0 auto;
}

.overall-content-area-review-header img {
    height: 83px;
    width: auto;
}

.comment-section-box {
    display: flex;
    gap: 2px;
    padding: 2px;
}

.comment-section-1 {
    width: 47%;
    padding-left: 5px;
    flex: 1;
}

.comment-section-2 {
    width: 47%;
    padding-right: 5px;
    flex: 1;
}

.comment-section-box p {
    border: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: grey;
    background-color: #E8DC9B;

    font-size: 8pt;
    font-weight: bold;

    padding: 8px;
}

.comment-section-box p1 {
    display: block;
    min-height: 33px;
    margin-bottom: 20pt;
    font-size: 8pt;
}

.comment-section-box p1 img {
    float: left;
    margin-right: 5px;
}




